@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

html {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
  font-size: 14px;
}

/*
Titles
*/

h1 {
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #FF5A09;
  font-size: 1.9em;
}

h2 {
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #FF5A09;
  font-size: 1.5em;
  display: block;
}

h3 {
  font-weight: normal;
  color: #595959;
}

h4 {
  font-weight: normal;
  color: #595959;
}

h5 {
  text-transform: uppercase;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.6em;
}

.title
{
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 50px;
  text-transform: none;
  color: #ff5a09;
  line-height: 1;
  font-weight: 600;
}
.center-div
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 300px;
  text-align: center;

}
/*
Page Content
*/

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}
p#sub_heading {
    color: white;
    font-size: 1em;
}
p#date{
    font-size: 1em;
}
p#meta {
  font-size: 13px;
  text-align: left;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding-top: 5px;
  padding-bottom: 5px;
}

a, a:hover, a:focus {
    color: #ec7f37;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 0px;
    background: #fafafa;
    border: none;
    border-radius: 0;
    margin-bottom: 20px;
    box-shadow: 0px 0px;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
    margin-top: 10px;
}
.navbar-nav {
  margin-top: 10px;
}
.navbar-right {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 14px;
}
.navbar-header {
  border-bottom: 1px solid;
  border-bottom-color: #999;
}
.navbar-nav > li > a {
    padding: 0px;
    display: inline;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin-top: 20px;
    margin-bottom: 40px;
}
.hide {
  max-height: 0px;
  font-size: 0;
  display: none;
}
.btn-info {
  color: #fff;
  background-color: #737373;
}
.overlay {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 9998;
}
ul {
    list-style-type: circle;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}
ol {
    list-style-type: circle;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}
/* Links */;

a { color:#ec7f37; text-decoration:none; }
a:visited { color:#ec7f37; text-decoration:none; }
a:link { color:#ec7f37; text-decoration:none; }
a:active { color:#ec7f37; text-decoration:none; }
a:hover { text-decoration: underline; }
a.heading {
  text-decoration: none;
  color: #FF5A09;
}
a.btn{
    background-color:#ec7f37;
    padding:.6em;
    font-size: .9em;
    line-height:1;
    color:#fff;
    text-align:center;
    white-space:nowrap;
    vertical-align:baseline;
    border-radius:.25em;
    text-decoration: none;
    margin: 0.2em;
}
a.btn:hover{
    border-color: #ec7f37;
    color: #999;
    background-color:#fafafa;
    border-style: solid;
    border-width: thin;
}

/*
Sidebar
*/

#sidebar {
    width: 230px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background-color: #666666;
    color: white;
    transition: all 0.3s;
    padding-top: 10px;
    text-align: center;
}

#sidebar a {
   color: #fff;
   text-decoration: none;
}

#sidebar.active {
    margin-left: -230px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #000000;
    background: #595959;
}
#sidebar ul.socials-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

}
#sidebar ul.socials-list li {
    display: inline-block;
}

#dismiss {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 5px;
    right: 10px;
}


.nav_link
{
  display: block;
  padding: 0.77273rem 0;
}

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

/*
Content
*/

#content {
    width: calc(100% - 230px);
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}
#content.active {
    width: 100%;
}


/*
Media Queries
*/
@media (max-width: 768px) {
    #sidebar {
        margin-left: -230px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 230px);
    }
    #sidebarCollapse span {
        display: none;
    }
}

/*
Mobile/Small Screens
*/

@media only screen and (max-width: 767px) {
    .hide {
      max-height: none !important;
      font-size: 12px !important;
      display: block !important;
    }
}
