<!doctype html>
<head>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">

      <title> Angrynet Ninja </title>

      <!-- Bootstrap -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <!-- Custom CSS -->
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
      <!-- Icons -->
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  </head>

<body>


<!-- Sidebar -->


<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
      <div id="dismiss" class="hide">
        <button type="button" class="btn btn-info navbar-btn hide">
            <i class="fas fa-arrow-left" align="middle"></i>
        </button>
      </div>

      <img src="https://robohash.org/devops%20automation%20network%20ninja?set=set2" style="width:100px;height:100px;">
      <h5>Angrynet Ninja</h5>
      <p id="sub_heading">DevOps | Automation | Network</p>
        <ul class="list-unstyled components">
            <li>
                <a class="nav_link" href="{{ url_for('index') }}">Home</a>
           </li>
           <li>
               <a class="nav_link" href="{{ url_for('tags') }}">Tags</a>
           </li>
            <li>
                <a class="nav_link" href="{{ url_for('index') }}">About</a>
            </li>
            <li>
                <a class="nav_link" href="{{ url_for('index') }}">Links</a>
            </li>
        </ul>
        <ul class="socials-list">
            <li><a href="https://www.linkedin.com/in/jonbaker85/"><i class="fab fa-linkedin fa-2x"></a></i></li>
            <li><a href="https://github.com/angryninja48/"><i class="fab fa-github fa-2x"></a></i></li>
            <li><a href="https://gitlab.com/angryninja"><i class="fab fa-gitlab fa-2x"></a></i></li>
        </ul>

    </nav>
  <div id="content">
    <!-- Content -->
    {% with template = self %}
        {% include 'section.html' %}
    {% endwith %}
  </div>
  <!-- jQuery CDN -->
  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <!-- Bootstrap Js CDN -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- jQuery Custom Scroller CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

  <script type="text/javascript">
      $(document).ready(function () {
          $("#sidebar").mCustomScrollbar({
              theme: "minimal"
          });

          $('#dismiss, .overlay').on('click', function () {
              $('#sidebar').removeClass('active');
              $('.overlay').fadeOut();
          });

          $('#sidebarCollapse').on('click', function () {
              $('#sidebar').addClass('active');
              $('.overlay').fadeIn();
              $('.collapse.in').toggleClass('in');
              $('a[aria-expanded=true]').attr('aria-expanded', 'false');
          });
      });
  </script>
</body>
</html>
