{% extends "base.html" %}

{% block page_content %}
<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn hide">
                <i class="fas fa-bars" align="middle"></i>
            </button>
        <div class = "hide">
          <ul class="nav navbar-nav navbar-right">
          <li>
            {% if prev_url %}
            <a href="{{ prev_url }}"><i class="fas fa-angle-double-left"></i> Prev Page</a> &nbsp&nbsp
            {% endif %}
            {% if next_url %}
            <a href="{{ next_url }}">Next Page <i class="fas fa-angle-double-right"></i></a>
            {% endif %}
          </li>
        </ul>
        </div>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li>
              {% if prev_url %}
                <a href="{{ prev_url }}"><i class="fas fa-angle-double-left"></i> Prev Page</a> &nbsp&nbsp
              {% endif %}
              {% if next_url %}
                <a href="{{ next_url }}">Next Page <i class="fas fa-angle-double-right"></i></a>
              {% endif %}
              </li>
            </ul>
        </div>

    </div>
</nav>
{% for post in posts %}
    <h1>{{ post.title }}</h1>
    <p id="meta">{{ post.pub_date.strftime('%B %d, %Y') }}
        &nbsp&nbsp|&nbsp&nbsp
        <i class="fas fa-tags"></i>
        {% for tag in post.tag %}
        <a href="/tags/{{ tag.tag_name }}">{{ tag.tag_name }} </a>
        {% endfor %}
        &nbsp&nbsp|&nbsp&nbsp
    </p>
    <p>{{ post.summary }}</p>
    <a class="btn" href="/post/{{ post.slug }}" class="heading" style="margin-top: 10px;">Continue reading</a>
    <div class="line"></div>

{% endfor %}
{% endblock %}
