
{% extends "base.html" %}

{% block page_content %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn hide">
                <i class="fas fa-bars" align="middle"></i>
            </button>
        </div>

    </div>
</nav>
{% for post in posts %}
  <h1>{{ post.title }}</h1>
  <p id="meta">{{ post.pub_date.strftime('%B %d, %Y') }}
      &nbsp&nbsp|&nbsp&nbsp
      <i class="fas fa-tags"></i>
      {% for tag in post.tag %}
      <a href="/tags/{{ tag.tag_name }}">{{ tag.tag_name }}</a>
      {% endfor %}
      &nbsp&nbsp|&nbsp&nbsp
  </p>
  <p>{{ post.summary }}</p>
  <a class="btn" href="/post/{{ post.slug }}" class="heading" style="margin-top: 10px;">Continue reading</a>

  <div class="line"></div>

{% endfor %}

{% endblock %}
