
{% extends "base.html" %}

{% block page_content %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn hide">
                <i class="fas fa-bars" align="middle"></i>
            </button>
        </div>

    </div>
</nav>
<div class="center-div">

    {% for tag in tags %}
    <a class="btn" href="/tags/{{ tag.tag_name }}">{{ tag.tag_name }} </a>
    {% endfor %}

</div>
{% endblock %}
